[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
concrete = "*"
termcolor = "*"
nltk = "*"
bottle = "*"
tabulate = "*"
pystanforddependencies = "*"
"jpype1" = "*"
future = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
